{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Change password</h2>
            <h3 class="text-center text-sm text-gray-500">{{ user.userIdentifier }}</h3>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

            {{ form_start(changePasswordForm) }}

            <div>
                {{ form_label(changePasswordForm.old_password, 'Old password:', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
                <div>
                    <div class="mt-1">
                        {{ form_widget(changePasswordForm.old_password, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'}}) }}
                    </div>
                    <div class="text-xs text-red-500">{{ form_errors(changePasswordForm.old_password) }}</div>
                </div>
            </div>

            <div>
                {{ form_label(changePasswordForm.new_password, 'New password:', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
                <div>
                    <div class="mt-1">
                        {{ form_widget(changePasswordForm.new_password, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'}}) }}
                    </div>
                    <div class="text-xs text-red-500">{{ form_errors(changePasswordForm.new_password) }}</div>
                </div>
            </div>

            <div class="mt-5">
                {{ include('partials/_button-submit.html.twig', {'body': 'Update password'}) }}
            </div>

            {{ form_end(changePasswordForm) }}

        </div>
    </div>

{% endblock %}