{% extends 'base.html.twig' %}

{% block title %}Create category{% endblock %}

{% block body %}

    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">Edit category</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

            {{ form_start(categoryForm) }}

            <div>
                {{ form_label(categoryForm.category, 'Category name:', {'label_attr': {'class': 'block text-sm font-medium leading-6 text-gray-900'}}) }}
                <div>
                    <div class="mt-1">
                        {{ form_widget(categoryForm.category, {'attr': {'class': 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6'}}) }}
                    </div>
                    <div class="text-xs text-red-500">{{ form_errors(categoryForm.category) }}</div>
                </div>
            </div>

            <div class="mt-5">
                {{ include('partials/_button-submit.html.twig', {'body': 'Submit'}) }}
            </div>

            {{ form_end(categoryForm) }}

        </div>
    </div>

{% endblock %}